@use '../../../scss/abstracts/mixins' as *;
@use '../../../scss/abstracts/variables' as *;

.card {
  width: 100%;
  background-color: $secondary-black;
  padding: $padding-small;
  border-radius: $border-radius-medium;

  &--image {
    width: 100%;
    object-fit: cover;
    height: 180px;
    border-bottom: 4px solid $secondary-red;
  }

  &--name {
    font-size: $font-size-small;
  }
}
