@use '../../../scss/abstracts/mixins' as *;
@use '../../../scss/abstracts/variables' as *;

.navbar {
  @include flexbox();
  background-color: $secondary-red;
  width: 100%;
  height: 3.6rem;

  &--list {
    width: $width-big;
    height: 100%;
    @include flexbox($direction: row, $justify: space-between);

    &__item {
      background-color: rgba($color: #000000, $alpha: 0.2);
      height: 100%;

      .link {
        color: $primary-white;
      }
    }
  }
}
