@use '../../../scss/abstracts/mixins' as *;
@use '../../../scss/abstracts/variables' as *;

.navbar {
  @include flexbox();
  background-color: $secondary-red;
  width: 100%;
  height: 3.6rem;
  position: relative;

  &--list {
    width: $width-big;
    height: 100%;
    @include flexbox($direction: row, $justify: space-between);
    transition: all 0.5s ease-in-out;

    &__item {
      height: 100%;
      @include flexbox();
      padding: 0 $padding-smaller;
      transition: all 0.3s ease;

      .link {
        color: $primary-white;
        text-transform: uppercase;
      }

      &:hover {
        background-color: rgba($color: $secondary-black, $alpha: 0.2);
      }
    }

    &__item:has(.active) {
      background-color: rgba($color: $secondary-black, $alpha: 0.2);
      font-weight: 500;

      .active {
        color: $primary-white;
        text-transform: uppercase;
      }

      &:hover {
        background-color: rgba($color: $secondary-black, $alpha: 0.4);
      }
    }

    @media (max-width: $screen-breakpoint-biggest) {
      width: $width-medium;
      display: none;
      
      &.open {
        width: 100%;
        height: max-content;
        position: absolute;
        top: 3.6rem;
        @include flexbox($direction: column, $gap: 2rem);
        background-color: rgba($color: $secondary-black, $alpha: 0.9);
        backdrop-filter: blur(1rem);

        & &__item {
          .link, .active {
            padding: $padding-medium;
          }
        }
      }
    }

    @media (max-width: $screen-breakpoint-bigger) {
      width: $width-small;
    }

    @media (max-width: $screen-breakpoint-big) {
      width: 100%;
    }
  }

  @media (max-width: $screen-breakpoint-biggest) {
    &--btn {
      width: $width-medium;
      height: 100%;
      @include flexbox($direction: row, $justify: space-between);

      &__menu {
        width: 35px;
        height: 5px;
        background-color: $primary-white;
        border-radius: $border-radius-small;
        transition: all 0.5s ease-in-out;
      }

      &__menu::before,
      &__menu::after {
        content: '';
        position: absolute;
        display: block;
        width: 35px;
        height: 5px;
        background-color: $primary-white;
        border-radius: $border-radius-small;
      }

      &__menu::before {
        transform: translateY(-10px);
      }

      &__menu::after {
        transform: translateY(10px);
      }

      &__menu.open {
        transform: rotate(90deg);
        background: transparent;
      }

      &__menu.open::before {
        transform: rotate(45deg);
      }

      &__menu.open::after {
        transform: rotate(-45deg);
      }
    }
  }

  @media (max-width: $screen-breakpoint-bigger) {
    padding: 0 $padding-small;

    &--btn {
      width: $width-small;
    }
  }

  @media (max-width: $screen-breakpoint-small) {
    &--btn {
      width: 100%;
    }
  }
}
