@use '../../../scss/abstracts/mixins' as *;
@use '../../../scss/abstracts/variables' as *;

.navbar {
  @include flexbox();
  background-color: $secondary-red;
  width: 100%;
  height: 3.6rem;

  &--list {
    width: $width-big;
    height: 100%;
    @include flexbox($direction: row, $justify: space-between);

    &__item {
      height: 100%;
      @include flexbox();
      padding: 0 $padding-smaller;
      transition: all 0.3s ease;

      .link {
        color: $primary-white;
        text-transform: uppercase;
      }

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.2);
      }
    }

    &__item:has(.active) {
      background-color: rgba($color: #000000, $alpha: 0.2);
      font-weight: 500;

      .active {
        color: $primary-white;
        text-transform: uppercase;
      }

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.4);
      }
    }

    @media (max-width: $screen-breakpoint-biggest) {
      width: $width-medium;
    }

    @media (max-width: $screen-breakpoint-bigger) {
      width: $width-small;
    }

    @media (max-width: $screen-breakpoint-big) {
      width: 100%;
    }
  }

  @media (max-width: $screen-breakpoint-biggest) {
    height: 3rem;
  }
}
