@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/variables' as *;

.card {
  width: 100%;
  background-color: $secondary-black;
  padding: $padding-small;
  border-radius: $border-radius-medium;
  pointer-events: initial;

  &--image {
    width: 100%;
    object-fit: cover;
    height: 180px;
    border-bottom: 4px solid $secondary-red;
  }

  &--icons {
    padding: $padding-small 0;

    .card--bookmark__in,
    .card--bookmark__out {
      width: 20px;
      fill: $primary-white;
      cursor: pointer;
    }

    .card--bookmark__out {
      pointer-events: none;
    }
  }

  &--name {
    font-size: $font-size-small;
  }

  &--card__container {
    @include grid($gap: 1rem);
  }
}
