@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/variables' as *;

.home {
  width: $width-big;
  @include flexbox($align: unset, $gap: 1rem);
  color: $primary-white;
  padding: $padding-small 0;

  &--title {
    font-size: $font-size-medium;
  }

  &--paragraph {
    font-size: $font-size-small;
    text-align: justify;
  }

  &--image {
    border-radius: $border-radius-small;
    background-color: $secondary-white;
  }
}
