@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/variables' as *;

.details {
  width: $width-big;
  @include grid($gap: 1rem);
  grid-template-columns: repeat(2, 1fr);
  color: $primary-white;
  padding: $padding-small 0;

  &--back {
    justify-self: flex-start;
    padding: $padding-smallest $padding-medium;
    background-color: $primary-white;
    color: $primary-black;
    text-align: center;
    border-radius: $border-radius-small;

    &:hover {
      background-color: $secondary-white;
    }
  }

  &--back,
  &--name {
    font-size: $font-size-medium;
    font-weight: 500;
  }

  &--name {
    grid-column: 2 / 3;
    justify-self: end;
  }

  &--description {
    align-self: flex-start;

    &__item {
      text-align: justify;
    }
  }

  @media (max-width: $screen-breakpoint-biggest) {
    width: $width-medium;
  }

  @media (max-width: $screen-breakpoint-bigger) {
    width: $width-small;

    &--image {
      grid-column: 1 / -1;
    }

    &--description {
      grid-column: 1 / -1;
    }
  }

  @media (max-width: $screen-breakpoint-big) {
    &--back,
    &--name {
      font-size: $font-size-small;
    }
  }

  @media (max-width: $screen-breakpoint-medium) {
    width: 100%;
  }
}
