@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/variables' as *;

.section {
  width: $width-big;
  @include flexbox($align: unset, $gap: 1rem);
  color: $primary-white;
  padding: $padding-small 0;

  &--title {
    font-size: $font-size-medium;
    align-self: flex-start;
  }

  &--card__container {
    @include grid($gap: 1rem);
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: $screen-breakpoint-biggest) {
      width: $width-medium;
    }

    @media (max-width: $screen-breakpoint-bigger) {
      width: $width-small;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $screen-breakpoint-small) {
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media (max-width: $screen-breakpoint-biggest) {
    width: $width-medium;
    @include flexbox($align: center, $gap: 1rem);
  }

  @media (max-width: $screen-breakpoint-bigger) {
    width: $width-small;
  }

  @media (max-width: $screen-breakpoint-small) {
    width: 100%;
  }
}
