@use '../../../scss/abstracts/mixins' as *;
@use '../../../scss/abstracts/variables' as *;

.filter {
  width: $width-big;
  padding-top: $padding-small;

  &--title {
    font-size: $font-size-medium;
    color: $primary-white;
    margin-bottom: 1rem;
  }

  &--container__characters,
  &--container__comics,
  &--container__stories {
    @include grid($gap: 1rem);
    grid-template-columns: repeat(3, 1fr);

    .filter--input,
    .filter--select {
      width: 100%;
      height: $input-height-small;
      text-indent: 0.3rem;
      border-radius: $border-radius-small;
      background-color: $primary-white;
    }

    @media (max-width: $screen-breakpoint-biggest) {
      width: $width-medium;
      grid-template-columns: repeat(2, 1fr);
    }
    
    @media (max-width: $screen-breakpoint-bigger) {
      width: $width-small;
    }

    @media (max-width: $screen-breakpoint-small) {
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media (max-width: $screen-breakpoint-biggest) {
    width: $width-medium;
  }

  @media (max-width: $screen-breakpoint-bigger) {
    width: $width-small;
  }

  @media (max-width: $screen-breakpoint-small) {
    width: 100%;
  }
}
