$primary-back: #222;
$secondary-black: #111;
$hover-black: #4d4d4d67;
$primary-white: #eee;
$secondary-white: #fff;
$primary-blue: #00a8e8;
$secondary-blue: #0086bb;
$primary-red: #ff4f4f;
$secondary-red: #b60000;
$outline: 1px solid $secondary-black;
$box-shadow-card: 0 0 5rem rgba($primary-back, $alpha: 0.3);
$padding-bigger: 4rem;
$padding-big: 3rem;
$padding-medium: 2rem;
$padding-small: 1rem;
$padding-smaller: 0.8rem;
$padding-smallest: 0.4rem;
$margin-bigger: 4rem;
$margin-bib: 3rem;
$margin-medium: 2rem;
$margin-small: 1rem;
$margin-smaller: 0.5rem;
$font-size-bigger: 2rem;
$font-size-big: 1.6rem;
$font-size-medium: 1.2rem;
$font-size-small: 1rem;
$font-size-smaller: 0.9rem;
$border-radius-total: 50%;
$border-radius-big: 0.9rem;
$border-radius-medium: 0.5rem;
$border-radius-small: 0.2rem;
$width-bigger: 760px;
$width-big: 700px;
$width-medium: 600px;
$width-small: 500px;
$width-smaller: 400px;
$width-smallest: 300px;
$card-width-medium: 300px;
$card-width-small: 280px;
$input-height-big: 4rem;
$input-height-medium: 3rem;
$input-height-small: 2.5rem;
$btn-width-bigger: 10rem;
$btn-width-big: 8rem;
$btn-width-medium: 6rem;
$btn-width-small: 4rem;
$screen-breakpoint-biggest: 850px;
$screen-breakpoint-bigger: 780px;
$screen-breakpoint-big: 750px;
$screen-breakpoint-medium: 660px;
$screen-breakpoint-small: 540px;
$screen-breakpoint-smaller: 430px;
$screen-breakpoint-smallest: 340px;
